.contato-list-container {
    padding: 16px;
}

table {
    width: 100%;
}

th.mat-header-cell {
    background-color: #f0f0f0;
    font-weight: bold;
    text-align: center;
}

td.mat-cell {
    text-align: center;
}

.mat-icon {
    vertical-align: middle;
}

.icon-success {
    color: green; 
}
  
.icon-red {
    color: red;
}  

.icon-cursor {
    cursor: pointer;
}

.favorite-icon {
    color: orange;
}

.spacer {
    flex: 1 1 auto;
}

::ng-deep .mat-checkbox-frame {
    border-color: white; 
}

.checkbox {
    margin-left: 20px; 
    font-size: 14px; 
}

.button-container {
    display: flex;
    justify-content: flex-end; 
    margin-bottom: 10px;
  }
  
  button mat-icon {
    margin-right: 8px; 
  }
  