.contato-list-container {
    padding: 16px;
}

table {
    width: 100%;
}

th.mat-header-cell {
    background-color: #f0f0f0;
    font-weight: bold;
    text-align: center;
}

td.mat-cell {
    text-align: center;
}

.mat-icon {
    vertical-align: middle;
}

.icon-success {
    color: green; 
}
  
.icon-red {
    color: red;
}  

.icon-cursor {
    cursor: pointer;
}

.favorite-icon {
    color: orange;
}

.spacer {
    flex: 1 1 auto;
}

.custom-checkbox {
    display: flex;
    align-items: center;
}
  
.custom-checkbox input[type="checkbox"] {
    display: none; 
}
  
.custom-checkbox label {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 23px; 
    margin-left: 15px;
    font-size: 14px;
}
  
.custom-checkbox label::before {
    content: '';
    position: absolute;
    left: 0;
    width: 12px; 
    height: 12px; 
    border: 2px solid white; 
    background-color: transparent; 
    border-radius: 4px; 
}
  
.custom-checkbox input[type="checkbox"]:checked + label::before {
    background-color: white;
    border-color: white;
}
  
.custom-checkbox input[type="checkbox"]:checked + label::after {
    content: '✔';
    position: absolute;
    left: 2px;
    top: 0;
    color: black;
}

.checkbox {
    margin-left: 20px; 
    font-size: 14px; 
}

.button-container {
    display: flex;
    justify-content: flex-end; 
    margin-bottom: 10px;
  }
  
  button mat-icon {
    margin-right: 8px; 
  }
  