<div class="contato-container">
    <mat-card class="contato-card">
        <mat-card-title class="text-title-card">Editar contato</mat-card-title>
        <mat-card-content>
            <form [formGroup]="contatoForm" (ngSubmit)="onSubmit()" class="contato-form">
                <mat-checkbox formControlName="snAtivo" class="checkbox">Ativo</mat-checkbox>
                <mat-form-field appearance="fill">
                    <mat-label>Nome</mat-label>
                    <input matInput formControlName="nome" placeholder="Digite seu nome" required>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>email</mat-label>
                    <input matInput type="email" formControlName="email" placeholder="Digite seu email" required>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>celular</mat-label>
                    <input matInput formControlName="celular" placeholder="Digite seu celular" required>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>telefone</mat-label>
                    <input matInput formControlName="telefone" placeholder="Digite seu telefone" required>
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit">Salvar</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>
  